@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --navbar-height: 100px;
    --page-height: calc(100vh - var(--navbar-height));
}
::selection {
    background-color: #e0cb54;
    color: #fff;
}
::-webkit-scrollbar {
    display: none;
}